:root {
    --accent-color: #34547A;
    --silver-color: #EEEFF1;
}

body {
    color: #727272;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.nav>li>a {
    text-transform: uppercase;
    font-weight: 500;
}

h1,
h2 {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1 {
font-size: 48px;
}
h2 {
    font-size: 32px;
}
button {
    background-color: var(--accent-color);
    color: #fff;
    width: 225px;
    height: 65px;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 20px;
}

header {
    padding-top: 57px;
    padding-bottom: 146px;
    background-color: var(--silver-color);
}
.header_head, .nav, .header_content, .header_content-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_head {
margin-bottom: 140px;
}
.nav li {
    margin-right: 42px;
}
img.header_content-left {
    max-width: 357px;
    margin-right: 130px;
}
.header_content-right {
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
}