:root {
    --accent-color: #34547A;
    --silver-color: #EEEFF1;
}

body {
    color: #727272;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.nav>li>a {
    text-transform: uppercase;
    font-weight: 500;
}

h1,
h2 {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1 {
font-size: 48px;
}
h2 {
    font-size: 32px;
}
button {
    background-color: var(--accent-color);
    color: #fff;
    width: 225px;
    height: 65px;
    text-transform: uppercase;
}

.container {
    max-width: 1150px;
    padding: 0 20px;
}